<h1>{{title}}</h1>
<p>finish this https://angular.io/tutorial/toh-pt6</p>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>